# Swift / SPM
.build/
.swiftpm/
Package.resolved

# Build output
build/

# macOS
.DS_Store

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/
xcuserdata/
!XDVPN-iOS.xcodeproj/
!XDVPN-iOS.xcodeproj/project.pbxproj

# IDE
.vscode/
.idea/

# Logs
*.log
